/* ゲーム用canvasを中央に表示し、背景色を設定 */
body {
  background: hwb(0 0% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#gameCanvas {
  background: #ffffff;
  border: 2px solid #ffffff;
  box-shadow: 0 4px 24px rgba(8, 252, 0, 0.007);
  display: block;
}